{% extends 'base.html.twig' %}

{% block title %}Anglais{% endblock %}

{% block body %}
    <div class="container">
        {% if CollegeAnglais is not empty %}
            {% for key, CollegeAnglais in CollegeAnglais %}
                <div class="col-11">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div>
                                <h1 class="custom-title">{{ CollegeAnglais.editableTitle | default('Titre non défini') }}</h1>
                            </div>

                            <div class="container_dys_description">
                                <h5>{{ CollegeAnglais.description | default('') | linkify | nl2br }}</h5>
                        
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune entrée trouvée les langues.</p>
        {% endif %}

        <div class="buton_modifier_dys">
            <div class="col-12">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BUREAU') %}
                    <div class="container_dys_description_button text-center">
                        <a href="{{ path('app_CollegeAnglais_edit') }}" class="boutton_dys btn btn-primary btn-lg">Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}