{% extends 'baseedit.html.twig' %}


{% block title %}Modifier l'Anglais, l'Espagnol et Allemand {% endblock %}

{% block body %}
    <h1>Modifier la description</h1>

    {{ form_start(form) }}
    <div class="d-flex gap-2 col-3 mx-auto">
        <button class="btn btn-success">Sauvegarder</button>
        <a href="{{ path('app_collegeAnglais') }}" class="btn btn-danger">Annuler</a>
    </div>
    {{ form_widget(form) }}

    {{ form_end(form) }}


{% endblock %}
