{% extends 'base.html.twig' %}

{% block title %}SC{% endblock %}

{% block body %}
    
            <div class="container text-center mt-2">
            <div class="row mt-4">
            <div class="col-13">
                <h1 class="text-black">{{ titre }}</h1>
            </div>
        </div>
        
                 <div class="col-12 mt-5">
                    <h4>{{ description|linkify|nl2br }}</h4>
                </div>
            </div>
        </div>

        <div class="buton_modifier_dys">
            <div class="col-12"> <!-- Utilisation de col-12 pour une colonne pleine largeur -->
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BUREAU') %}
                    <div class="container_dys_description_button text-center">
                        <a href="{{ path('app_scivique_edit') }}" class="boutton_dys btn btn-primary btn-lg">Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </div><br><br><br>
                 </div>
              </div>
{% endblock %}