{% extends 'baseedit.html.twig' %}

{% block title %}SNU{% endblock %}

{% block body %}
    <h1>Modifier la description</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex gap-2 col-3 mx-auto">
        <button class="btn btn-success">Sauvegarder</button>
        <a href="{{ path('app_service_snu') }}" class="btn btn-danger">Annuler</a>
    </div>
    {{ form_end(form) }}


{% endblock %}